# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# eslint
.eslintrc.cjs
.eslintrc.js

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos sensíveis
.env
*.env.local
config/secrets/
credentials.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
apps/frontend/dashboard/node_modules/
apps/frontend/dashboard/build/
apps/frontend/auth/node_modules/
apps/frontend/auth/build/
health_response.txt
